@page
@model RazorCW.Pages.PhotosModel
@{
    ViewData["Title"] = "Photos";
}

<div class="container-fluid">
    <div class="row">
        <!--sayfayi ikiye boldum-->
        <div class="col-6">
            <div class="image">
                <img class="pic" src="~/img/img5.jpg" alt="Chess" />
                <div class="image_overlay image_overlay_blur">
                    <div class="image_title">
                        Chess
                    </div>
                </div>
            </div>
            <div class="image">
                <img class="pic" src="~/img/img6.jpg" alt="Best Friend" />
                <div class="image_overlay image_overlay_blur">
                    <div class="image_title">
                        Best Friend
                    </div>
                </div>
            </div>
            <div class="image">
                <img class="pic" src="~/img/img7.jpg" alt="Cat" />
                <div class="image_overlay image_overlay_blur">
                    <div class="image_title">
                        Cat
                    </div>
                </div>
            </div>
            <div class="image">
                <img class="pic" src="~/img/img8.jpg" alt="footprint" />
                <div class="image_overlay image_overlay_blur">
                    <div class="image_title">
                        Footprint
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="image">
                <img class="pic" src="~/img/img9.jpg" alt="GoodBye" />
                <div class="image_overlay image_overlay_blur">
                    <div class="image_title">
                        Good Bye
                    </div>
                </div>
            </div>
            <div class="image">
                <img class="pic" src="~/img/img10.jpg" alt="Zeytin" />
                <div class="image_overlay image_overlay_blur">
                    <div class="image_title">
                        Zeytin
                    </div>
                </div>
            </div>
            <div class="image">
                <img class="pic" src="~/img/img12.jpg" alt="Nature" />
                <div class="image_overlay image_overlay_blur">
                    <div class="image_title">
                        Nature
                    </div>
                </div>
            </div>
            <div class="image">
                <img class="pic" src="~/img/img13.jpg" alt="Istanbul" />
                <div class="image_overlay image_overlay_blur">
                    <div class="image_title">
                        Istanbul
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
